.products-list-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    @media (max-width:762px){
        margin-top: 30%;
        margin-bottom: 40%;
    }
    
    .products-list-wrapper{
        display: flex;
        justify-content: space-around;
        background-color: white;
        width: 100%;
        height: 100%;
        border: 1px groove;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 5px 5px 11px rgb(176, 176, 176);
        transition: transform 0.3s ease;

        @media (max-width:762px){
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding-top: 25px;
            padding-bottom: 30px;
        }

        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }

        .productInfo{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
                     
            }
        img{
            object-fit: contain;
            border-radius: 15px;
            height: 100%;
            max-width: 350px;
            max-height: 250px;

            @media (max-width:762px){
                flex-direction: column;
                height: fit-content;
                width: fit-content;
            }
        }
    }
}   
