*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .full-page{
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        .main-page,
        .guitar-page,
        .pedal-page{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #CCC;
            scroll-snap-align: start;

            h1{
                color: white;
                font-size: 60px;
                text-decoration: underline;
                @media (max-width:760px) {
                    font-size: 40px;
                }
                @media (max-width:360px) {
                    font-size: 20px;
                }
            }

            .guitar-page-container,
            .pedals-page-container{
                gap: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}