.full-about-page{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;


    .about-page1{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;

        .about-wrapper{
            display: flex;
            flex-direction: row;
            gap: 70px;
            padding: 10%;

            .about-inner-wrapper{
                display: flex;
                flex-direction: column;
                padding: 20px;
                width: 100%;
                height: 100%;
                gap: 20px;
                border-bottom: 2px solid black;

                @media (max-width:767px) {
                    max-height: 90vh;
                }
                p{
                    height: 100%;
                    padding: 10px;
                    @media (max-width:767px) {
                        overflow: scroll;
                    }
                }
            }
        }
    }

    .about-page-2{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;

        .about-wrapper-2{
            display: flex;
            flex-direction: row;
            gap: 70px;
            padding: 10%;

            .about-inner-wrapper-2{
                display: flex;
                flex-direction: row;
                gap: 20px;
                max-height: 450px; 
                border-bottom: 2px solid black;
                padding: 20px;

                @media (max-width:760px) {
                    flex-direction: column;
                    max-height: 550px;
                }            

                .info-wrapper{
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;

                    p{
                        padding: 10px;
                    }
                    
                    @media (max-width:760px) {
                      width: auto;
                    }

                }
            }

        }
    }
}